/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 425px) {
    body>*, body>*>* {
        width: 100%;
    }

    nav {
        margin-bottom: 5%;
    }

    #nav-bar {
        justify-content: space-around;
    }

    #nav-hamburger-icon {
        width: 10%;
        display: flex;
        justify-content: flex-end;
    }

    #logo {
        width: 75%;
        justify-content: flex-start;
    }

    #heading>div {
        text-align: center;
        padding: 0 2%;
    }

    #introduction {
        margin-top: 0px;
    }

    #hamburger-icon {
        width: 100%;
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    #content, #nav-content, #nav-others, #first-image {
        display: none;
    }

    #first-image-mobile, #step-process-image-mobile {
        display: flex;
    }

    #mobile-layout-image-1 {
        display: flex;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    #talk-button {
        margin: 5% 0;
        width: 30%;
    }

    #talk-to-us {
        font-size: large;
        width: 100%;
        padding: 10% 0;
    }

    /* Details block */
    #details-block {
        width: 100%;
        padding: 0%;
    }

    #about {
        margin: 0 auto;
        padding: 0%;
        width: 90%;
    }

    #about>p {
        padding: 0%;
        font-size: larger;
        line-height: 1.6;
    }

    #personal-details {
        display: flex;
        margin: 0 auto;
        align-items: center;
        width: 90%;
        padding: 2% 10%;
    }

    #profile-photo {
        border-radius: 50%;
        width: 30%;
        height: 90px;
        background-size: cover;
    }

    #about-person {
        color: #5330c9;
        font-size: 60%;
        padding: 0;
    }

    /* Cross Design */
    #cross-design {
        width: 100%;
        margin: 15% 0;
        padding: 2%;
        background-color: #5330c9;
        transform: rotate(5deg);
        opacity: 20%;
    }


    /* 2-Step Process */
    #step-process-header {
        width: 100%;
    }

    #step-process-content>p {
        padding: 0% 5%;
    }

    #diff-steps {
        margin: 0% 4%;
        text-align: left;
    }

    #step-1 {
        margin-bottom: 5%;
    }

    #step-1>p:first-of-type, #step-2>p:first-of-type {
        color: #5330c9;
        font-family: "Red Hat Display", Sans-serif;
        font-size: small;
        letter-spacing: 2px;
        margin-bottom: 1%;
    }

    #step-1>p:last-of-type, #step-2>p:last-of-type {
        font-family: "Red Hat Display", Sans-serif;
        font-size: 140%;
    }

    #step-process-image {
        display: none;
    }

    #step-process-image-mobile>img {
        width: 100%;
    }

    #product-work-btn {
        border-radius: 7px;
        font-size: 100%;
        padding: 3% 7%;
    }

    /* Product Features */
    #product-features {
        width: 95%;
        flex-direction: column;
        background-color: #fff;
    }

    #product-features-header {
        width: 100%;
    }

    #product-features-content {
        padding-bottom: 10%;
    }

    #product-features-block {
        padding-top: 10%;
    }

    #features-list {
        display: none;
    }

    #product-features-list-block {
        width: 100%;
    }

    #features-list-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #5330c9;
    }

    #features-list-mobile>p:nth-child(1), #features-list-mobile>p:nth-child(3) {
        font-weight: bolder;
        font-size: x-large;
    }

    #features-list-mobile>p:nth-child(2) {
        padding: 2% 5%;
        border-radius: 5px;
        background-color: #5330c9;
        color: #fff;
    }

    #product-features-images-info-block {
        width: 100%;
        padding-left: 0;
    }

    #product-features-images-info-block {
        box-shadow: none;
    }

    #product-features-image {
        width: 100%;
    }

    #product-features-image>img {
        width: 90%;
    }


    /* What Makes Us Different? */
    #difference-block {
        margin-top: 10%;
    }

    #difference-header {
        display: flex;
        justify-content: center;
        width: 95%;
        font-family: "Red Hat Display", Sans-serif;
        font-size: 200%;
    }

    #difference-header>span {
        display: block;
    }

    #violet-text-block {
        height: fit-content;
    }

    #approach-block {
        margin-top: 5%;
        flex-direction: column;
        width: 100%;
    }

    #approach-content-block {
        justify-content: center;
        width: 100%;
    }

    #approach-content>p:first-of-type {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        font-size: 130%;
    }

    #approach-content>p:nth-child(2) {
        display: none;
    }

    #learn-more-btn {
        width: 120%;
        padding: 5% 2%;
    }

    #approach-content-image-block>img {
        width: 95%;
        height: 90%;
        object-fit: contain;
    }

    #different-features-block {
        display: none;
    }


    /* Our customers & Batches */
    #our-customers-block, #blue-section-block, #footer-block {
        order: 2;
    }

    #batches-block {
        order: 1;
        margin-top: 15%;
        margin-bottom: 5%;
    }

    #batches-block-header {
        width: 100%;
    }

    #batches {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 7%;
    }

    #batches>a {
        width: 29%;
        height: 50%;
    }

    #batches>a>img {
        width: 100%;
        object-fit: cover;
    }

    #our-customers-header {
        width: 95%;
    }

    /* Blue Section Block */
    #blue-section-block {
        margin-top: 10%;
        margin-bottom: -8.5%;
    }

    #blue-section {
        flex-wrap: wrap;
        width: 95%;
    }

    #blue-action {
        width: 100%;
        font-size: 150%;
    }

    #blue-section-btn {
        justify-content: space-around;
        padding: 2%;
        display: flex;
        width: 100%;
        margin: 3% 0;
    }

    #signup-btn, #demo {
        padding: 2%;
    }

    #signup-btn {
        margin-right: 0;
    }

    /* Footer Block */

    #footer-block-content {
        padding-top: 20%;
        width: 100%;
    }

    #footer-block-content>* {
        width: 45%;
    }

    #footer-intro-image>img {
        width: 100%;
    }

    #footer-subscribe {
        width: 80%;
    }
}